/* #046565
#0cc4b3
#e1f8f3
#55e3d3
#24e4c4
*/

body{
background: #046565;
color: #fff;
}
.logo_img img{
    width: 200px;
padding:10px 0px 10px 0px
}
.navbar{
    border-bottom: 2px solid rgb(50, 205, 167);
    background: rgba(1, 63, 63, 0.8);
    color: #fff;

}
#home-section{
    background:url(../img/iStock-936130080.jpg) no-repeat center top;
    background-size: cover;
background-attachment: fixed;
    min-height: 700px;
    
}
.head-1 h1{
    font-size: 52px;
}
.dark-overlay{
    background: rgba(0, 37, 37, 0.8);
    min-height: 700px;
 }
.fa{
    background: #fff;
    padding: 3px;
    border-radius: 3px;
    color:#0cc4b3;
    font-size: 25px;
}
.hone-inner{
    padding-top: 125px;
    padding-bottom: 50px;
}
.card-bg{
    background-color:#0cc4b3;

}

.ex-fa{
    font-size: 20px;
    background:#0cc4b3;
    color: #fff;
    margin-top: 5px;
}
#explore-head-section{
    background:#0cc4b3 ;
}
#contact-head-section{
    background:#0cc4b3 ;
}

.section-h2{
    font-size: 40px;;
}
/* Google map Start*/
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:65%;
    width:100%;
    position:absolute;
    }

/* Google map End*/

.footer-list li a{
 color: #fff;
 font-weight: lighter;
}

.footer-list h3{
    font-size: 25px;;
}

.footer-list p a{
    color: #0cc4b3;
    font-size: 20px;
}






@media(max-width:768px){
    #home-section h1{
        font-size: 36px;
    }
}